/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; /* Vertically center the text there */
}


@import url('file:///C:\Users\ukwim\Documents\proc\AutoProcesses\ProcessAuto\Areas\Identity\Pages\Account\style.css');
@import url("https://fonts.googleapis.com/css?family=Manrope:500,800");

:root {
    --black: rgba(0, 0, 0, 1);
    --white: rgba(255, 255, 255, 1);
    --font-size-xxs: 12px;
    --font-size-xs: 16px;
    --font-size-s: 20px;
    --font-size-m: 32px;
    --font-family-manrope: "Manrope";
}

;

.authorization {
    background-color: var(--white);
    height: 1024px;
    mix-blend-mode: normal;
    overflow: hidden;
    overflow-x: hidden;
    position: relative;
    width: 1440px;
}

.hidden, .hidden * {
    pointer-events: none;
    visibility: hidden;
}

.image-P3A5Dz {
    background-color: transparent;
    height: 1024px;
    left: -3px;
    mix-blend-mode: normal;
    position: absolute;
    top: -0px;
    width: 724px;
}

.frame-46-P3A5Dz {
    background-color: transparent;
    height: 348px;
    left: 861px;
    position: absolute;
    top: 343px;
    width: 419px;
}

.text_label-1BMqW0 {
    background-color: transparent;
    color: #9584a3;
    font-family: var(--font-family-manrope);
    font-size: var(--font-size-m);
    font-style: normal;
    font-weight: 800;
    height: auto;
    left: 0px;
    letter-spacing: 0px;
    line-height: 44px;
    mix-blend-mode: normal;
    position: absolute;
    text-align: center;
    top: -1px;
    white-space: nowrap;
    width: 419px;
}

.frame-45-1BMqW0 {
    background-color: transparent;
    height: 272px;
    left: 0px;
    position: absolute;
    top: 76px;
    width: 419px;
}

.frame-42-oFaxJy {
    background-color: transparent;
    height: 272px;
    left: 0px;
    position: relative;
    top: 0px;
    width: 419px;
}

.text-input-xjKpGb {
    background-color: transparent;
    height: 88px;
    left: 0px;
    position: absolute;
    top: 0px;
    width: 419px;
}

.text-input-XVdgj0 {
    background-color: transparent;
    height: 88px;
    left: 0px;
    position: absolute;
    top: 104px;
    width: 419px;
}

.input-exDxpC {
    background-color: transparent;
    border: 1px solid #33134b;
    font-family: Arial, Helvetica, sans-serif;
    padding-left: 10px;
    font-size: 20px;
    border-radius: 4px;
    height: 40px;
    left: 0px;
    overflow: hidden;
    position: absolute;
    top: 28px;
    width: 419px;
}

.pheye-Ld6Tuu {
    background-color: transparent;
    height: 16px;
    left: 407px;
    mix-blend-mode: normal;
    position: absolute;
    top: 43px;
    width: 16px;
}

.placeholder-Ld6Tuu {
    background-color: transparent;
    color: #b4bfc8;
    font-family: var(--font-family-manrope);
    font-size: var(--font-size-xs);
    font-style: normal;
    font-weight: 500;
    height: auto;
    left: 16px;
    letter-spacing: 0px;
    line-height: 24px;
    mix-blend-mode: normal;
    position: absolute;
    text-align: left;
    top: 7px;
    white-space: nowrap;
    width: 367px;
}

.title-exDxpC {
    background-color: transparent;
    color: #9684a4b8;
    font-family: var(--font-family-manrope);
    font-size: var(--font-size-xs);
    font-style: normal;
    font-weight: 800;
    height: auto;
    left: 0px;
    letter-spacing: 0px;
    line-height: 24px;
    mix-blend-mode: normal;
    position: absolute;
    text-align: left;
    top: -1px;
    white-space: nowrap;
    width: 419px;
}

.hint-exDxpC {
    background-color: transparent;
    color: #697a89;
    font-family: var(--font-family-manrope);
    font-size: var(--font-size-xxs);
    font-style: normal;
    font-weight: 500;
    height: auto;
    left: 0px;
    letter-spacing: 0px;
    line-height: 16px;
    mix-blend-mode: normal;
    position: absolute;
    text-align: left;
    top: 71px;
    white-space: nowrap;
    width: 419px;
}

.primary-button-xjKpGb {
    background-color: #4c3d66;
    border-radius: 4px;
    box-shadow: 0px 4px 4px #00000040;
    cursor: pointer;
    height: 64px;
    left: 0px;
    mix-blend-mode: normal;
    position: absolute;
    top: 208px;
    width: 419px;
}

.text_label-3xVVMQ {
    background-color: transparent;
    color: var(--white);
    font-family: var(--font-family-manrope);
    font-size: var(--font-size-s);
    font-style: normal;
    font-weight: 800;
    height: auto;
    left: 32px;
    letter-spacing: 0px;
    line-height: normal;
    mix-blend-mode: normal;
    position: absolute;
    text-align: center;
    top: 18px;
    width: 355px;
}

.image-QTLrs4 {
    background-color: transparent;
    height: 493px;
    left: 70px;
    position: absolute;
    top: 265px;
    width: 535px;
}