
ProcessAuto/obj/Debug/netcoreapp3.1/ProcessAuto.assets.cache
*.cache
ProcessAuto/obj/Debug/netcoreapp3.1/project.razor.json
ProcessAuto/.vs/ProcessAuto/DesignTimeBuild/.dtbcache.v2
ProcessAuto/.vs/ProcessAuto/DesignTimeBuild/.dtbcache.v2
ProcessAuto/.vs/ProcessAuto/v17/.futdcache.v1
ProcessAuto/.vs/ProcessAuto/v17/.suo
ProcessAuto/bin/Debug/netcoreapp3.1/ProcessAuto.Views.dll
ProcessAuto/bin/Debug/netcoreapp3.1/ProcessAuto.Views.pdb
ProcessAuto/obj/Debug/netcoreapp3.1/ProcessAuto.Views.dll
ProcessAuto/obj/Debug/netcoreapp3.1/ProcessAuto.Views.pdb
