@model ProcessAuto.Models.ViewModels.AssignInverviewViewModel
 
@{
    ViewBag.Title = "Assign an interview";
}
 
<h2>Пожалуйста, укажите дату и время собеседования</h2>

@using(Html.BeginForm())
{

<div class="form-group">
    <label asp-for="InterviewDate" class="control-label"></label>
    <div class='input-group date' id='datepicker'>
        <input asp-for="InterviewDate" type="text" class="form-control" value="@DateTime.Now.ToString("dd.MM.yyyy")" />
        <span class="input-group-addon">
            <span class="glyphicon glyphicon-calendar"></span>
        </span>
    </div>
    <span asp-validation-for="InterviewDate" class="text-danger"></span>
    <input asp-for="respondId" type="hidden" class="form-control" value="@Model.respondId"/>
    <input asp-for="vacId" type="hidden" class="form-control" value="@Model.vacId"/>
</div>

<button class="btn btn-success" value="Save changes" type="submit">Assign interview</button>

}

@section Scripts
    {
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.15.1/moment.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.7.14/js/bootstrap-datetimepicker.min.js"></script>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.7.14/css/bootstrap-datetimepicker.min.css">
    <script>
        $(function () {
            $('#datepicker').datetimepicker();
        });
    </script>
}