@model ProcessAuto.Models.ViewModels.AssignInverviewViewModel
 
@{
    ViewBag.Title = "Assign an interview";
}
 
<h2>Вы уверены, что хотите выдать оффер данному абитуриенту?</h2>

@using(Html.BeginForm())
{
    <div class="form-group">
        <input asp-for="respondId" type="hidden" class="form-control" value="@Model.respondId"/>
        <input asp-for="vacId" type="hidden" class="form-control" value="@Model.vacId"/>
    </div>

    <button class="btn btn-success" value="Save changes" type="submit">Выдать</button>

}