@page
@model LoginModel

@{
    ViewData["Title"] = "Log in";
}

<!DOCTYPE html>
<html>
<head>
	<title>Login</title>
	<link rel="stylesheet" type="text/css" href="../wwwroot/css../wwwroot/css/style.css">
</head>
<body>
	<form class="authorization screen" id="account" method="post" method="post">
		<div class="overlap-group">
			<img class="image-P3A5Dz ignore" src="https://media.discordapp.net/attachments/753528290714583101/989573769590882324/back.png">
			<img class="image-QTLrs4" src="https://media.discordapp.net/attachments/753528290714583101/989573769276305439/table.png">
			
		</div>
		<div class="frame-46-P3A5Dz">
			<h1 class="text_label-1BMqW0">Авторизация</h1>
			<div class="frame-45-1BMqW0">
				<div class="frame-42-oFaxJy ignore">
					<div class="text-input-xjKpGb">
						<div class="title-exDxpC">E-mail</div>
						<input asp-for="Input.Email" type="text" class="input-exDxpC">
							<div class="placeholder-Ld6Tuu"></div>
						</input>
                        <span asp-validation-for="Input.Email" class="text-danger"></span>
						<div class="hint-exDxpC"></div>
					</div>
					<div class="text-input-XVdgj0">
						<div class="title-exDxpC">Пароль</div>
						<input asp-for="Input.Password" type="password" class="input-exDxpC">
							<div class="placeholder-Ld6Tuu"></div>					
						</input>
                        <span asp-validation-for="Input.Password" class="text-danger"></span>
						<div class="checkbox hint-exDxpC"></div>
					</div>	
					
					
					
						<button type="submit" class="primary-button-xjKpGb">
							<div class="text_label-3xVVMQ">ВОЙТИ</div>
						</button>
				
				</div>
			</div>
		</div>
	</form>

</body>
</html>



